.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(0, 0, 0);
}

.App-logo {
  margin: 67px 60px;
  height: 113.14px;
  width: 345.12px;
  pointer-events: none;
}

.App-header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 999999;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.App-body {
  width: 100vw;
  height: 100vh;
  background: url('assets/bg.png') no-repeat center;
  background-size: cover;
}